.App {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  /* background: linear-gradient(to bottom, #E6D0FF, #D1B0FF, #C294FF, #B278FF, #A05EFF); */
}

#menubar {
  background-color: #5f99b4 !important;
}
